/* General Styles */

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    overflow-x: hidden;
    font-family: Helvetica;
    font-size: 100%;
    scroll-behavior: smooth;
}

.container {
    max-width: 42em;
    max-height: 100%;
}

a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: rgb(123, 184, 228);
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}


/* Header */

.header {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.header-brand {
    margin-bottom: 0;
}


/* Nav-Bar*/

.nav-bar .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgb(123, 184, 228);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-bar .nav-link:hover,
.nav-bar .nav-link:focus {
    border-bottom-color: rgb(123, 184, 228);
}

.nav-bar .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-bar .active {
    color: #fff;
    border-bottom-color: #fff;
}


/* Pages */

#page {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    display: flex;
    flex-wrap: no-wrap;
    scroll-behavior: smooth;
}

.panel {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.panel:nth-child(4n+2) {}

.panel:nth-child(4n+3) {}

.panel:nth-child(4n+4) {}

.panel:last-child {}

.back {
    background-color: rgba(255, 255, 255, 0.292);
    width: 75%;
    height: 75%;
    padding: 25px;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(123, 184, 228);
}


/* Media */

@media (min-width: 48em) {
    .header-brand {
        float: left;
    }
    .nav-bar {
        float: right;
    }
}
