/* General Styles */
* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: black;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
    color:#0c8e9c;
}

.btn {
    font-size: 14px;
    color: whitesmoke;
    border: none;
    background-color: #0c8e9c;
    margin: 2px;
}

.btn:hover {
    color: #0c8e9c;
    background-color: whitesmoke;
}

/* Nav */

.navbar-brand {
    color:#0c8e9c !important;
    font-family: "Krub";
    font-weight: bolder;
}

.navbar-nav i{
    font-size: 1em;
}

/* Header*/ 
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-custom {
    background-color: #f1f1f1ec;
}

.ml-auto i{
    color: #0c8e9c;
}

.ml-auto i:hover{
    color: #0c8e9c98;
}

/* About */
#about {
    text-align: center;
    padding: 5em 2em;
    margin: 0 -15px;
    min-height: 100vh;
    height: 100%;
}

#about h4{
    padding: 1em auto;
    color: #0c8e9c;
}

#about i{
    color: #0c8e9c;
}

#about i:hover{
    color: #0c8e9c98;
}

.img-soraya {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 200px;
    min-width: 120px; 
    border-radius: 8px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.icons img {
    width: 40px;
    margin: 0px 2px 25px 2px;
}


/* Method*/
#method{
    padding: 5em 0 3em 0;
    min-height: 100vh;
    height: 100%;
}

#method img {
    border: none;
    margin: 0 auto;
}

/* Portfolio*/
#portfolio {
    background-color: #cecececd;
    text-align: center;
    color: black; 
    margin: 0 -15px;
    padding: 5em 0 3em 0;
    min-height: 100vh;
    height: 100%;
}

.img {
    width: 200px;
    margin: 0 auto;
    border-radius: 8px;
}

.card {
    padding-top: .8em;
    margin: 1em auto;
    width: 90%;
    min-width: 270px;
    text-align: center;
    background-color:#eeeeee; 
    border-radius: 8px;
}

.card-text{
    font-size: .9rem;
}

.card-title{
    color: #0c8e9c;
}

.column {
    display: none; 
    margin: 0 auto; 
    float: none; 
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.show {
    display: block;
}

/* Footer */
footer {
    background-color:#707070cd;
    color:#eeeeee;
    text-align: center; 
    padding: 1em;
    
}
